
body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', sans-serif;
    min-height: 100vh;
    background: linear-gradient(90deg, #ff6000, #301000, #100000);
    color: #fff;
 
}

.juego-presentacion {
    padding: 80px 20px 40px; 
    text-align: center; 
}

.juego-presentacion h1 {
    font-size: 80px;
    color: #ffffff;
    text-shadow: 0 0 20px #fff, 0 0 40px #ccc;
    margin-bottom: 40px;
}

.juego-presentacion img {
    width: 100%;
    max-width: 800px;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255,255,255,0.3);
}




.navbar {
    background-color: #ffffff52;
    padding: 15px 20px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.navbar a, #menu-toggle {
    color: #ffd700; 
    text-decoration: none;
    font-weight: bold;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.navbar a:hover, #menu-toggle:hover {
    background-color: rgba(255, 255, 255, 0.1);
}


.main-content {
    max-width: 1200px; 
    margin: 40px auto;
    padding: 20px;
    display: flex; 
    gap: 30px;

    flex-wrap: wrap; 
  
    align-items: stretch;
}

article, section {

    flex-basis: calc(50% - 15px); 
    flex-grow: 1; 
    
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 30px;
    border-radius: 15px;
}

.datos-rapidos {

    flex-basis: 300px;
    flex-grow: 1; 
    background-color: #ff6000;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

    text-align: left; 
}


footer {
    background-color: #100000;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid #ff740a;
}


.sidebar {
    height: 100%;
    width: 0; 
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    border-right: 3px solid #3f1b04;
    text-align: left;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #00ffea;
}

.sidebar.active {
    width: 250px;
}