
body {
  font-family: 'Segoe UI', sans-serif;
background: -webkit-linear-gradient(1deg, #ff8200,#ff8200,#000000,#000000);
background: linear-gradient(10deg, #ff8200,#ff8200,#000000,#000000);
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.cabecera {
  width: 100%;
  height: 300px;
  background-image: url("img/fondotorneo.png"); 
  
  background-size: cover;
  background-position: center;


}

.logo {
  position: absolute;
  top: 30px;
  left: 1030px;
}

.logo img {
  width: 300px;
  height: 300px;
  
  cursor: pointer;
}

.texto-cabecera {
  position: absolute;
}




.formulario {
  padding: 40px 20px;
  max-width: 600px;
  margin: 40px auto;
  background-color: #1a1a1a;
  border-radius: 10px;
  box-shadow: 0 0 20px rgb(241, 190, 79);
}

.formulario h2 {
  text-align: center;
  margin-bottom: 30px;
  color: #ff8c00;
   text-shadow: 0 0 10px #683e03, 0 0 20px #de8b04;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

label {
  font-weight: bold;
  color: #f0f0f0;
}

input, select {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
}

input:focus, select:focus {
  outline: 2px solid #00ffcc;
}

button {
  padding: 12px;
  background-color: #00ffcc;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #00ccaa;
}
 
.oculto {
  display: none;
}

#mensaje {
  margin-top: 20px;
  color: #00ffcc;
  font-weight: bold;
  text-align: center;
}

.contador {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: #ccc;
}
